snippet poc
	${1:chall-1} (${2:binary})
	===========================

	General overview of problems faced
	-------------------------------------
	${3}

	List of vulnerabilities
	--------------------
	1. 
	2.

	Steps to exploit
	------------------
	1.
	2.

	Script/Command used
	------------------
	\`\`\`

	\`\`\`

	Flag
	------------------
	\`\`\`

	\`\`\`

